<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.youth.mapper.UserMapper">

<!--    <resultMap id="UserResultMap" type="com.youth.Entity.User">-->
<!--        <id column="user_id" property="consumerId" jdbcType="INTEGER"/>-->
<!--        <result column="user_name" property="consumerName" jdbcType="VARCHAR"/>-->
<!--        <result column="user_phone" property="consumerPhone" jdbcType="VARCHAR"/>-->
<!--        <result column="password" property="password" jdbcType="VARCHAR"/>-->
<!--        <result column="create_time" property="createTime" jdbcType="DATE"/>-->
<!--        <result column="update_time" property="updateTime" jdbcType="DATE"/>-->
<!--        <result column="state" property="state" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->

    <select id="getUserInfoByUserPhone" resultType="com.youth.Entity.User">
        SELECT * FROM user_info WHERE user_info.user_phone = #{userPhone}
    </select>

</mapper>